* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dde1e7;
    text-align: center;
}

.icono {
    display: flex;
    margin: 40px 0;
}

.icono li {
    position: relative;
    list-style: none;
    height: 70px;
    width: 70px;
    background-color: #dde1e7;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
}

.icono li a {
    line-height: 70px;
    font-size: 27px;
    color: #b6bbc5;
}

.primero li.shadow-1 {
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    ;
}

.primero li.shadow-1 a {
    font-size: 25px;
}

li:nth-child(1).fill-color a {
    color: #4267b2;
}

li:nth-child(2).fill-color a {
    color: #1da1f2;
}

li:nth-child(3).fill-color a {
    color: #e1306c;
}

li:nth-child(4).fill-color a {
    color: #2867b2;
}

li:nth-child(5).fill-color a {
    color: #333;
}